
main{
    margin: 80px;
}
.page-header{
    height:250px ;
    width: 500px;
    background-image: url(/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg);
    background-size: cover ;
    margin-left: auto;
    margin-right: auto;
}
.page-header h1 {
    position: absolute;
    color: white;
    text-align: center;
    bottom: 70%;
    left: 40%;
    
    
}

.recipe{
    padding: 20px;
    height: 60px;
    
}
.recipe2{
    align-items: center;
    padding: 20px;
    height: 50px;
}